   <div ng-click="edit()" ng-hide="editing">
      <div ng-show="type == 'text'">{{ value }}</div>
      <div ng-show="type == 'number'">{{ value | number}}</div>
   </div>

   <form name="ngForm" novalidate style="display: inline">
        <input type="{{ type }}" ng-model="editValue" ng-blur="save()" ng-show="editing" ng-keyup="keyUp($event)" name="model" required="required" />
       <div class="error" ng-show="ngForm.submitted && ngForm.model.$error.required">{{ label }} is required</div>
       <div class="error" ng-show="ngForm.submitted && ngForm.model.$error.number">{{ label }}  must be numeric</div>
   </form>
