edit-in-place {
    cursor: pointer;
}
*[ng-click]{
    cursor: pointer;
}
.icon {
    vertical-align: middle;
    margin-right: 10px;
}
.error {
    color: #d85f56;
}
svg line {
    stroke: #999e9e;
    stroke-width: 2px;
}