<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LRU</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        edit-in-place {
            cursor: pointer;
        }
        *[ng-click]{
            cursor: pointer;
        }
        .icon {
            vertical-align: middle;
            margin-right: 10px;
        }
        .error {
            color: #d85f56;
        }
        svg line {
            stroke: #999e9e;
            stroke-width: 2px;
        }
    </style>

</head>
<body>

<div class="container" ng-controller="studentsCtrl">
    <div class="row">
        <div class="col-md-6">
            <h3>LRU Students</h3>

            <form name="ngForm" novalidate>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="name">Name:</label>
                            <input type="text" class="form-control" ng-model="name" required="required" name="name" id="name"/>
                            <div class="error" ng-show="ngForm.submitted && ngForm.name.$error.required">Name is required  </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        <label class="control-label" for="grade">Grade:</label>
                        <input type="number" class="form-control"  ng-model="grade" required="required" name="grade" id="grade"/>

                        <div class="error" ng-show="ngForm.submitted && ngForm.grade.$error.required">Grade is required </div>
                        <div class="error" ng-show="ngForm.submitted && ngForm.grade.$error.number">Grade must benumeric </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default" style="margin-top: 24px;"  ng-click="addStudent(ngForm)">Add</button>
                    </div>

                </div>
            </form>


            <ul class="list-group">
                <li ng-repeat="item in students.students | orderBy:order" class="list-group-item"
                    ng-class="{'list-group-item-warning': students.failed(item.grade)}">
                    <div class="row">
                        <div class="col-xs-1">
                            <svg width="15" height="15" class="icon" ng-click="remove(item)">
                                <line x1="0" y1="0" x2="15" y2="15"/>
                                <line x1="15" y1="0" x2="0" y2="15"/>
                            </svg>
                        </div>
                        <div class="col-xs-6">

                            <edit-in-place value="item.name" label="Name" type="text"></edit-in-place>
                        </div>
                        <div class="col-xs-5">
                            <edit-in-place value="item.grade" label="Grade" type="number"></edit-in-place>
                        </div>
                    </div>

                </li>
            </ul>

            <div ng-show="students.students.length == 0" class="alert alert-warning" role="alert">You have no students listed. Please add a student.
            </div>

        </div>
        <div class="col-md-4 col-md-offset-2">

            <div ng-hide="students.students.length == 0">
                <h3>Summary</h3>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">{{ students.getStats().min | number }}</span>Minimum:</li>
                    <li class="list-group-item"><span class="badge">{{ students.passRate | number }}</span>Pass rate:
                        <!--<edit-in-place value="students.passRate" label="Pass rate" type="number"></edit-in-place>-->
                    </li>
                    <li class="list-group-item"><span class="badge">{{ students.getStats().avg | number }}</span>Average:</li>
                    <li class="list-group-item"><span class="badge">{{ students.getStats().max | number }}</span>Maximum:</li>
                    <!--<li class="list-group-item"><span class="badge">{{ students.getStats().sum | number }}</span>Sum:</li>-->
                </ul>
            </div>
        </div>

    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="app.js"></script>
<script src="students.js"></script>
<script type="text/ng-template" id="template/editstudent.html">
    <div ng-click="edit()" ng-hide="editing">
    <div ng-show="type == 'text'">{{ value }}</div>
    <div ng-show="type == 'number'">{{ value | number}}</div>
</div>

    <form name="ngForm" novalidate style="display: inline">
        <input type="{{ type }}" ng-model="editValue" ng-blur="save()" ng-show="editing" ng-keyup="keyUp($event)" name="model" required="required" />
        <div class="error" ng-show="ngForm.submitted && ngForm.model.$error.required">{{ label }} is required</div>
        <div class="error" ng-show="ngForm.submitted && ngForm.model.$error.number">{{ label }}  must be numeric</div>
    </form>


</script>
</body>
</html>
